/* ESTILO GENERAL */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #050505;
    color: #ffffff;
    text-align: center;
}

/* TÍTULO PRINCIPAL */
h1 {
    font-size: 55px;
    color: #00ffff;
    text-shadow:
        0 0 5px #00ffff,
        0 0 10px #00ffff,
        0 0 20px #00ffff,
        0 0 40px #00ffff;
    margin-top: 30px;
}

/* SUBTÍTULOS */
h2 {
    color: #ff00ff;
    text-shadow:
        0 0 5px #ff00ff,
        0 0 10px #ff00ff;
}

/* PÁRRAFOS */
p {
    font-size: 20px;
    width: 80%;
    margin: auto;
    line-height: 1.6;
}

/* CONTENEDOR */
.contenedor {
    width: 85%;
    margin: 30px auto;
    padding: 25px;
    border: 2px solid #00ffff;
    border-radius: 15px;
    box-shadow: 0 0 20px #00ffff;
    background: rgba(0, 0, 0, 0.7);
}

/* BOTONES */
button {
    background-color: transparent;
    color: #00ffff;
    border: 2px solid #00ffff;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px #00ffff;
    transition: 0.3s;
}

button:hover {
    background-color: #00ffff;
    color: black;
    box-shadow:
        0 0 10px #00ffff,
        0 0 20px #00ffff,
        0 0 40px #00ffff;
}

/* IMÁGENES */
img {
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 20px #ff00ff;
    margin-top: 20px;
}
